@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Poppins:wght@300;400;500;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
 header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 12px 24px;
    box-shadow: 0 4px 5px -2px rgba(0,0,0,.3);
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: end;
}
.logo img{
    max-width: 50px;
    position: relative;
    bottom: 8px;
}
.logo h1{
    font-size: 24px;
    color: #0e4ba7;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.hamburger{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.hamburger span{
    display: block;
    width: 30px;
    height: 3px;
    background: #999999;
}
nav ul{
    display: none;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
    font-size: 18px;
    font-weight: 500;
    /* line-height: 50px; */
    margin-right: 40px;
    transition: all 0.4s ease-in-out ;
}
nav ul li{
    list-style: none;
    margin-right: 40px;
    cursor: pointer;
    transition: all 0.2s ease-in-out ;
}
nav ul li a{
    text-decoration: none;
    display: flex;
    align-items: center;justify-content: center;
    color: rgb(8, 30, 74);
    gap: 4px;
}
nav ul li a svg{
    width: 16px;
    stroke-width: 3px;
    color: #999999;
    transition: all .4s ease;
}
li.more{
    transition: all .4s ease ;
}
li.more .morelist{
    position: absolute;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    padding: 5px 30px 10px 20px;
    background: rgb(230, 232, 237);
    border-radius: 8px;
    transition: all .4s ease ;
    cursor: default;
    gap: 12px;
    margin: 0;
    display: none;
}
.morelist li{
    white-space: nowrap;
    margin-right: 0;
    font-size: 16px;
    opacity: .9;
}
li.more:hover .morelist{
    display: flex;
}
li.more:hover svg{
    transform: rotate(180deg);
}
.morelist li:hover{
    opacity: .5;
}
nav .logreg{
    display: none;
    gap: 20px;
}
.logreg a{
    min-width: 150px;
    padding: 10px 20px;
    border-radius: 8px;
    transition: all 0.2s ease-in-out 0s;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    color: rgb(8, 30, 74);
    background: rgb(255, 255, 255);
    box-shadow: rgb(199, 204, 214) 0px 0px 0px 2px inset;
    text-decoration: none;
}
.logreg a:last-child{
    color: rgb(255, 255, 255);
    background: rgb(14, 100, 230);
    box-shadow: none;
}

section{
    padding: 0px 20px;
    margin: 0px auto;
}
.home{
    width: 100%;
}
.front{
    display: flex;
    width: 100%;
    padding-top: 24px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.front .fronttext h1{
    font-size: clamp(32px, 2vh, 40px);
    display: flex;
    flex-direction: column;
    color: #081e4a;
    font-weight: 700;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.fronttext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.line{
    width: max-content;
    box-sizing: border-box;
    background: url(/svg)  center bottom / contain no-repeat;
    color: rgb(8, 30, 74);
    display: block;
    height: 50px;
    margin: 0px auto;
    padding: 0px 5px;
}
.fronttext p{
    font-size: 16px;
    font-weight: 400;
    color:#081e4a; 
    text-align: center;
    max-width: 450px;
    padding: 36px 0;
}
.fronttext button{
    background-color: #0E64E6;
    border: none;
    display: flex;
    border-radius: 5px;
    padding:12px  24px;
}
.fronttext button a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
}
.fronttext .text{
    color: rgb(8, 30, 74);
    text-align: center;
    opacity: 0.38;
    font-size: 12px;
    padding: 0;
}
.front img{
    width: 100%;
    border-radius: 20px;
    border: 3px solid #0E64E6;
    padding: 5px;
}
.front  img:hover {
    box-shadow: 0 0 9px 1px #0E64E6;
}
.help{
    display: flex;
    padding-top: 36px;
    flex-direction: column;
}
.helptext{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}
.help .cavet{
    font-family: 'Caveat Brush', cursive;
    font-size: 24px;
    font-weight: 400;
    color: #0E64E6;
}
.helptext h2{
    font-weight: 700;
    font-size: 20px;
    color: #081e4a;
}
.helptext p{
    font-weight: 400;
    font-size: 16px;
    color: #081e4a;
}
.help .tab{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 28px;
    transition: all 0.2s ease-in-out 0s;
    box-align: center;
}
.help .tab img{
    background:  rgb(238, 242, 249);
    width: 48px;
    height: 44px;
    padding: 7px 3px;
    border-radius: 8px;
}
.help .tab .active{
    background: #FFF7E0;
    border: 2px solid #FFBA00;
}
.help .plan h2{
    font-weight: 500;
    font-size: 18px;
    padding: 20px;
    color: rgb(255, 186, 0);
    text-align: center;
}
.help .plan .planbox{
    background: #FFF7E0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding: 32px 23px;
    border-radius: 16px;
}
.plan .planbox video{
    width: 100%;
    border-radius: 8px;
    position: relative;
    border: 4px solid #081e4a;
}
.planbox .planboxtext .tabTitle{
    font-weight: 700;
    font-size: 20px;
    color: rgb(8, 30, 74);
    margin-bottom: 20px;
}
.planbox .planboxtext .tabDescription{
    font-weight: 400;
    font-size: 14px;
    color: rgb(8, 30, 74);
    margin-bottom: 20px;
}
.planbox .planboxtext .tick{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 10px;
    column-gap: 10px;
}
.planboxtext .tick p{
    font-weight: 400;
    font-size: 14px;
    color: rgb(8, 30, 74);
}
.planboxtext .link{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    font-weight: 600;
    transition: all 0.2s ease-in-out 0s;
    margin-top: 40px;
}
.link a{
    text-decoration: none;
    border-bottom: 2px solid rgb(255, 186, 0);
    color: rgb(8, 30, 74);
}
.collab{
    padding: 30px 0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
.collabox{
    display: flex;
    flex-direction: column;
    text-align: center;
    /* max-width: 220px; */
    width: clamp(220px, 20%, 300px);
    margin: 10px;
    color: rgb(8, 30, 74);
}
.collabox p:nth-child(2){
    font-weight: 700;
    font-size: clamp(20px,2vw,30px);
    margin-bottom: 10px;
}

.freetrial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    background: rgb(8, 30, 74);
    border-radius: 12px;
    padding: 30px 40px;
    font-weight: 700;
    text-align: center;
    row-gap: 20px;
    margin-bottom: 40px;
}
.freetrial .title{
    color: rgb(255, 255, 255);
    font-size: clamp(20px,3vw,36px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
}
.freetrial .subtitle{
    color: rgb(138, 177, 255);
    font-size: clamp(16px,2vw,20px);
}
.freetrial a{
    min-width: 110px;
    padding: 10px 20px;
    border-radius: 8px;
    transition: all 0.2s ease-in-out 0s;
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
    color: rgb(255, 255, 255);
    background: rgb(254, 185, 44);
    text-decoration: none;
}
.work{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.workhead{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.work .workhead p{
    font-weight: 400;
    font-size: 16px;
}
.workhead h1{
    font-size: clamp(24px,40%,36px);
    font-weight: 400;
}
.management{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
    padding: 40px 20px;
    margin: 0px auto;
}
.managementhead h1{
    font-weight: 400;
    font-size: 24px;
}
.managementgrid{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
}
.managementbox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}
.managementbox i{
    width: 84px;
    height: 84px;
    color: #384ec1;
    background: #f5f7f9;
    border-radius: 24px;
    font-size: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.users .usertext p:nth-child(1){
    color: #384ec1;
    font-size: 48px;
}
.ready{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    margin: 20px 0;
}
.begin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    gap: 40px;
}
.begin h2{
    font-size: clamp(24px,20%,36px);
    font-weight: 700;
    color: rgb(8, 30, 74);
    line-height: 40px;
}
.begin p{
    font-size: 20px;
    font-weight: 400;
}
.start{
    display: flex;
    gap: 8px;
    align-items: center;
    flex-direction: column;
}
.start button{
    background-color: #0E64E6;
    border: none;
    display: flex;
    border-radius: 5px;
    padding:12px  24px;
}
.start button a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}
.start .text{
    color: rgb(8, 30, 74);
    text-align: center;
    opacity: 0.38;
    font-size: 16px;
    padding: 0;
}
footer{
    width: 100%;
    background: rgb(8, 30, 74);
    padding: 50px 30px;
    gap: 30px;
    display: flex;
    flex-direction: column;
}
.menu .menulist{
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 15px 0px;
}
.menulist svg{
    width: 20px;
    font-weight: 900;
    font-size: 48px;
}
p.Footer{
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    color: rgb(255, 255, 255);
    margin: 25px 0;
}
.follow{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.follow h2{
    color: #fff;
}
.sos i{
    font-size: 24px;
    color: #f5f7f9;
    opacity: .8;
    margin-right: 20px;
}
.terms{
    display: flex;
    width: 100%;
    margin-top: 40px;
    padding: 20px  10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    flex: auto;
    gap: 5px;
}
.terms a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 16px;
    transition: all 0.2s ease-in-out 0s;
    cursor: pointer;
    text-align: center;
}
.terms a:not(:last-child){
    border-right: 2px solid white;
    padding-right: 4px;
}
p.last{
    color: #fff;
    font-size: 20px;
    text-align: center;
}
footer .menulg ul{
    display: flex;
    justify-content: space-between;
    width: 70%;
    /* align-items: center; */
}
.menulg{
    display: none;
    justify-content: space-between;
    /* align-items: center; */
}
.menulg .foot{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 315px;
}
.menulg ul li{
    list-style: none;
}
.menulg ul li h1{
    color: #fff;
    margin-bottom: 30px;
    font-size: 20px;
}
.menulg .foot .logolg{
    gap: 8px;
    display: flex;
    max-width: fit-content;
}
.menulg .foot .logolg img{
    width: 50px;
}
.menulg .foot .logolg h1{
    color: #fff;
}
.menulg .foot p{
    color: #fff;
}
.menulg .listlink{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 80px;
}
.listlink a{
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    opacity: .8;
}
footer .base{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
footer hr{
    border: none;
    height: 1px;
    background: rgba(255, 255, 255, 0.1);
}
@media (min-width:800px){
    nav .hamburger{
        display: none;
    }
    header .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: end;
        width: 20%;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        width: 80%;
    }
    nav ul{
        display: flex;
    }
    nav .logreg{
        display: flex;
    }
    main{
        padding-inline: 120px;
    }
    header{
        padding: 12px 120px;
    }
    .front .fronttext h1{
        flex-direction: row;
        gap: 0px;
    }
    .front img{
        width: 70%;
        object-fit: contain;
        max-height: 10%;
        height: 50%;
    }
    .help .plan .planbox{
        flex-direction: row-reverse;
    }
    .plan .planbox video{
        width: 50%;
        /* object-fit: fill;   */
        object-position: center;      
    }
    .collab{
        justify-content: space-between;
    }
    .managementgrid{
        display: flex;
    }
    .managementgrid .managementbox{
        max-width: 270px;
    }
    footer .footercontent{
        display: none;
    }
    footer .menulg{
        display: flex;
    }
    footer .base{
        display: flex;
        flex-direction: row-reverse;
    }
    .terms{
        display: flex;
        width: auto;
        margin-top: 0px;
        padding: 0;
        justify-content: right;
        align-items: center;
        text-align: right;
        gap: 5px;
    }
}