@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Poppins:wght@300;400;500;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
.container{
    padding: 8px;
    background: linear-gradient(#0060ee,#d2d2d2);
}
.invite{
    border-radius: 0.7rem;
    background: rgba(0,0,0,.3);
    padding: 15px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    position: relative;
    margin: 0 auto 50px;
    background: #fff;
    border-radius: .57rem;
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
    padding: 20px 20px 25px;
    z-index: 1000000000!important;
}
form .invitehead{
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 20px;
}
.invitehead h2{
    line-height: 24px;
    font-size: 24px;
    font-weight: 400;
    color: #303133;
}
.invitehead svg{
    padding: 0;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    width: 24px;
    color: #909399;
}
.inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.inputs input{
    width: 100%;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    color: #606266;
    display: inline-block;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    outline: none;
    padding: 0 15px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
}
.inputs textarea{
    display: block;
    resize: vertical;
    padding: 5px 15px;
    line-height: 1.5;
    width: 100%;
    color: #606266;
    background-color: #fff;
    background-image: none;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    max-height: 120px;
    font-size: 16px;
}
.inviteoption {
    padding: 30px 0 ;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.inviteoption .options .optionshead{
    display: flex;
    gap: 8px;
}
.optionshead p{
    color: #292f4d;
    font-size: 18px;
    font-weight: 400;
}
.optionshead svg{
    width: 26px;
    color: #909399;
}
.options .optiontext p{
    /* padding: 30px 20px; */
    color: #606266;
    font-size: 14px;
    word-break: break-all;
}
.check .checkbox{
    display: flex;
    gap: 4px;
    margin-bottom: 8px;
}
.checkbox input{
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background: rgba(11,66,176,.1);
    border: 1px solid #dcdfe6;
    transition: border-color .25s cubic-bezier(.71,-.46,.29,1.46),background-color .25s cubic-bezier(.71,-.46,.29,1.46);
}
.tab{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22px;
    width: 100%;
    background: rgba(230, 230, 230, 0.25);
    border-radius: 20px;
    border: 1px solid #e7e7e7;
    padding: 12px 1px;
}
.tab a{
    width: 50%;
    text-align: center;
    text-decoration: none;
    color: #babcc5;
}
.tab a:first-child{
    background: rgba(230, 230, 230, 0.4);
    border-radius: 20px;
}
form .btns{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
form .btns button:first-child{
    background: #0060ee;
    border: 1px solid #0060ee;
    border-radius: 8px;
    font-size: 14px;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 6px 20px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.14), 0 0 2px 0 rgba(0,0,0,.12);
}
.btns button:last-child{
    background: none;
    border: none;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;

}