@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Poppins:wght@300;400;500;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #fff;
    padding: 0 8px;
    position: relative;
    z-index: 2000;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.14), 0 0 2px 0 rgba(0,0,0,.12);
}
.page{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    gap: 10px;
}
.pageavatar{
    display: flex;
    justify-content:end;
    align-items: center;
    border: 2px solid #d2d2d2;
    border-radius: 50%;
    text-align: right;
}
.pageavatar img{
    width: 44px;
    height: 44px;
}
.pageavatar i{
    background-color: #0060ee;
    position: absolute;
    text-align: right;
    bottom: 12px;
    left: 40px;
    border-radius: 8px;
    padding: 4px;
    font-size: 12px;
}
.pagename p{
    font-size: 18px;
    /* font-weight: 500; */
    letter-spacing: .4;
}
header .coged{
    background-color: #0060ee;
    position: relative;
    text-align: right;
    border-radius: 8px;
    padding: 8px;
    font-size: 24px;
}
header .cogedd{
    background-color: #0060ee;
    position: relative;
    text-align: right;
    border-radius: 8px;
    padding: 8px;
    font-size: 24px;
}






.user{
    padding: 16px;
    background-color: #f5f6fa;
    height: 100vh;
}
.user .userhead h1{
    font-weight: 400;
}
.userhead .collab{
    display: flex;
    justify-content: right;
    align-items:center;
    margin-bottom: 10px;
}
.collab svg{
    width: 24px;
    color: #757373;
}
.collab h3{
    font-weight: 400;
}
.userbox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    text-align: center;
    padding: 14px;
    width: 100%;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.14), 0 0 2px 0 rgba(0,0,0,.12);
}
.userprofile{
    display: flex;
    width: 60px;
    height: 59px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #f5f6f6;
    padding: 8px;
    /* box-shadow: 5px 11px 20px 0 rgba(14,14,14,.33), 6px 0 6px 0 rgba(12,11,11,.28); */
}
.userprofile img{
    margin-bottom: 16px;
}
.userid{
    position: absolute;
    color: #0060ee;
    font-size: 18px;
    letter-spacing: 1.5px;
    font-weight: 500;
}
.username{
    opacity: .8;
    font-weight: 500;
    font-size: 20px;
}
#email{
    opacity: .7;
    font-size: 16px;
}
.userbox button{
    border: none;
    padding: 4px 16px;
    font-size: 16px;
    border-radius: 8px 8px 0px 0px;
    position: relative;
    top: 14px;
}
