@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Poppins:wght@300;400;500;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
.steps{
    background: rgb(127, 127, 127);
    background-attachment: fixed;
    height: 100%;
    padding: 16px;
}
.stepcontent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 16px;
    gap: 20px;
}
.stephead p{
    font-size: 20px;
    font-weight: 500;
    color: #0e4ba7;
}
.stepcontent h1{
    font-weight: 500;
    font-size: clamp(24px,50%,30px);
}
.stepcontent p{
    font-size: 16px;
    font-weight: 400;
}
.stepcontent img{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    pointer-events: none;
    object-fit: cover;
    /* object-position: 0 -60px; */
}
.steps input[type=file]{
    display: none;
}

.steps label{
    color: white;
    font-size: 30px;
    font-weight: 700;
    background-color: #0e4ba7;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    /* top: 0; */
    right: 29%;
    margin-top: 90px;
}
.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    margin: 40px 0 20px 0;
}
.avatar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.steps hr{
    width: 100%;
    background: #b8b7b7;
    height: 1px;
    border: none;
    margin: 10px 0;
}
.inputbox{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}
.inputbox input{
    width: 50%;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid #b8b7b7;
    padding: 12px 0;
    outline: none;
}
.steps button{
    background-color: #0E64E6;
    border: none;
    display: flex;
    border-radius: 5px;
    padding:12px  24px;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
}
.stepcontent.two .stephead h3{
    font-size: clamp(28px,20%,31px);
    font-weight: 300;
}
.stepcontent.two .stephead p{
    color: #9295a7;
    font-size: clamp(16px,20%,18px);
    font-weight: 400;
}
.question{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.questionbox{
    border: 2px solid #9295a7;
    border-radius: 8px;
    padding: 12px;
    width: 70%;
}
.questionbox h4{
    color: #292f4d;
    font-size: 16px;
    font-weight: 500;
}
.questionbox p{
    color: #9295a7;
    font-size: 14px;
}
.product{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    border-radius: 8px;
    padding: 16px;
    gap: 20px;
}
.producthead h3{
    font-size: 30px;
    font-weight: 500;
}
.productimg{
    border: 1px solid #9295a7;
    padding: 8px;
    border-radius: 8px;
    display: block;
    width: 100%;
    max-width: 350px;
    height: auto;
    min-height: 30px;
}
.productimg img:nth-child(1){
    width: 100%;
    position: relative;
    text-align: center;

    
}
.productimg img:nth-child(2){
    width: 60px;
    height: 60px;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.14), 0 0 3px 0 rgba(0,0,0,.12);    display: flex;
    align-items: last baseline;
    border-radius: 8px;
}








.wrapper{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    width: 100%;
    background: url(/asset/mountains.background.webp), #eceff1;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 20px;
}
.wrapper .logo{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
}
.logo img{
    width: 40px;
    border-radius: 50%;
}
.overview{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
    bottom: 0;
}
.overview form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}
form .overviewhead h3{
    color: rgb(15, 23, 42);
    font-weight: 500;
    font-size: 1.5rem;
}
legend,.selectoption label{
    font-size: 1rem;
    font-weight: 500;
}
fieldset{
    padding-bottom: 20px;
}
fieldset p,.overviewhead p{
    color: rgb(100, 116, 139);
    font-size: .8rem;
}
.neworexisting{
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: .8rem;
    font-weight: 500;
}
.dropdown{
    max-width: 26rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 2em; */
}
.select{
    /* background: #2a2f3b; */
    background: transparent;
    width: 100%;
    /* color: #fff; */
    color: #000;
    display: flex;
    font-size: .9rem;
    font-weight: 300;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, 0.3);
    /* box-shadow: 0 1px 2px 0 #000d; */
    border-radius: .5em;
    padding: .6em 1em;
    cursor: pointer;
    transition: all 0.3s;
}
.select-clicked{
    border: 2px solid #0075FF;
}
.caret{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #0000dd;
    transition: all .4s ease;
}
.caret-rotate{
    transform: rotate(180deg);
}
.menu{
    list-style: none;
    padding: .2em .5em;
    background: #fff;
    border: 2px solid rgba(0,0,0,.1);
    box-shadow: 0 .1em 16px rgba(0,0,0,.2);
    border-radius: .5em;
    color: #000;
    position: absolute; 
    top: 3em;
    width: 100%;
    opacity: 0;
    display: none;
    transition: .2s;
    z-index: 1;
    font-size: .9rem;
    font-weight: 300;
    max-height: 200px;
    overflow-y: scroll;
}
.menu li{
    padding-block: .3em;
    padding-inline: .5em;
    margin: 0.3em 0;
    border-radius: .3em;
    cursor: pointer;
}
.menu li:hover{
    background: rgba(0,0,0,.01);
}

.active{
    background: rgba(0,0,0,.04);
}
.menu-open{
    display: block;
    opacity: 1;
}

.fundingoption{
    display: flex;
    gap: 12px;
}
.funding input[type="radio"]{
    display: none;
}
.funding label{
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .75rem;
    border: 1px solid rgb(226 232 240);
    border-radius: .5rem;
    display: flex;
    align-items: center;
    gap: 4px;
    height: 40px;
    font-size: .9rem;
    font-weight: 500;
    cursor: pointer;
}
.funding input[type="radio"]:checked + label{
    background: rgb(79 70 229);
    color: #fff;
}
.howmuch{
    display: none;
}
.yes input[type="radio"]:checked + .howmuch{
    display: flex;
}
.btns{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 20px;
}
.btns button{
    padding: .5rem 1rem;
    border-radius: .4rem;
    border: 1px solid rgb(203 213 225);
    background: none;
    cursor: pointer;
    box-shadow: 0 .1px 1px 0 #000d;
    font-weight: 500;
    font-size: .8rem;
    font-weight: 500;
}
.btns button:last-child{
    background: rgb(79 70 229);
    color: #fff;
}


.coverinfo label{
    font-size: 1rem;
}
.coverinfo input{
    font-size: .8rem;
}