@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Poppins:wght@300;400;500;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    background: rgb(127, 127, 127);
    background-attachment: fixed;
    height: 100%;
    padding: 16px;
}
.product{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    border-radius: 8px;
    padding: 24px;
    gap: 20px;
}
.producthead{
    text-align: center;
}
.producthead h3{
    font-size: 30px;
    font-weight: 500;
}
.productimg{
    border: 1px solid #9295a7;
    padding: 8px;
    border-radius: 8px;
    display: block;
    width: 100%;
    max-width: 350px;
    height: auto;
    min-height: 30px;
}
.productimg img:nth-child(1){
    width: 100%;
    position: relative;
    text-align: center;

    
}
.productimg img:nth-child(2){
    width: 60px;
    height: 60px;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.14), 0 0 3px 0 rgba(0,0,0,.12);    display: flex;
    align-items: last baseline;
    border-radius: 8px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
}
input[type=file]{
    display: none;
}

label.file{
    color: white;
    font-size: 30px;
    font-weight: 700;
    background-color: #0e4ba7;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 73%;
    right: 19%;
    /* margin-top: 10px; */
}
.ideas,.finance{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 16px;
    overflow: hidden;
    width: 100%;
}
.ideas .name{
    position: absolute;
    color: #3e474f;
    font-size: 20px;
    font-weight: 500;
}

/* input:valid ~ .name{
    top: 0;
    opacity: 0;
    color: red;
} */
.border input:focus ~ label.name{
    top: 0;
    opacity: 0;
    color: red;
}
input{
    border: none;
}
#text{
    font-size: 20px;
    color: #0060EE;
    border: none;
}
label{
    color: #3e474f;
    font-size: 16px;
    font-weight: 500;
}
.border{
    border: 1px solid #0060EE;
    border-radius: 8px;
    padding: 10px;
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
    min-height: 64px;
    height: 100%;
}
#format{
    opacity: 1;
}
.border input,select{
    width: 100%;
    /* border: none; */
    outline: none;
}
select{
    font-size: 20px;
    color: #0060EE;
    font-weight: 500;
    border: none;
}
option{
    font-size: 12px;
    color: #0060EE;
    font-weight: 500;
}
form textarea{
    min-height: 54px; 
    height: 56px;
    resize: vertical;
    overflow: hidden;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    background-color: #fafbff;
    color: #0b42b0;
    /* opacity: 1; */
    padding: 14px 20px;
    border: 1px solid #c0c4cc;
    caret-color: black;
    outline: none;
    border: none;
}
textarea:focus{
    border: 1px solid #0060EE;
}
textarea::placeholder{
    color: #3e474f;
}
button{
    background-color: #0E64E6;
    border: none;
    display: flex;
    border-radius: 5px;
    padding:12px  24px;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
}

form a#lastchild{
    text-decoration: none;
    color: #3e474f;
    font-size: 16px;
    font-weight: 500;
}