@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Poppins:wght@300;400;500;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    overflow-x: hidden;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #fff;
    padding: 0 8px;
    position: relative;
    z-index: 2000;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.14), 0 0 2px 0 rgba(0,0,0,.12);
}
.page{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    gap: 10px;
}
.pageavatar{
    display: flex;
    justify-content:end;
    align-items: center;
    border: 2px solid #d2d2d2;
    border-radius: 50%;
    text-align: right;
}
.pageavatar img{
    width: 44px;
    height: 44px;
}
.pageavatar i{
    background-color: #0060ee;
    position: absolute;
    text-align: right;
    bottom: 12px;
    left: 40px;
    border-radius: 8px;
    padding: 4px;
    font-size: 12px;
}
.pagename p{
    font-size: 18px;
    /* font-weight: 500; */
    letter-spacing: .4;
}
header .coged{
    background-color: #0060ee;
    position: relative;
    text-align: right;
    border-radius: 8px;
    padding: 8px;
    font-size: 24px;
}
header .cogedd{
    background-color: #0060ee;
    position: relative;
    text-align: right;
    border-radius: 8px;
    padding: 8px;
    font-size: 24px;
}









.filternav{
    background: rgb(0, 0, 0,.5);
    width: 100%;
    position:fixed;
    display: flex;
    z-index: 300;
    height: 100%;
    left: 0;
    top: 0;
    padding: 10px;
    height: 100vh;
    /* display: none; */
    transform: translateX(-200%);
    transition: all .4s ease-in;
}
.open_nav .filternav  {
    display: flex;
    transform: translateX(0);
}
nav{
    width: 300px;
    height: 100vh;
    left: 0;
    top: 0;
    position: fixed;
    min-width: 240px;
    width: 40%;
    background-color: #fff;
    box-shadow: 0 0 3px 0 rgba(0,0,0,.14), 6px 0 6px 0 rgba(0,0,0,.06);
    border-right: 1px solid rgba(0,0,0,.14);
    z-index: 3000;
    transition: transform .4s ease-out;
    transform: translateX(-100%);
}
.open_nav nav{
    transform: translateX(0);
}
.logo{
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* position: relative; */
    /* text-align: center; */
    background-color: #0e64e6;
    padding: 14px;
    width: 100%;
}
.logo img,svg{
    /* border: 2px solid; */
    width: 202px;
}
.details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    text-align: center;
    background-color: #0e64e6;
    padding: 14px;
    width: 100%;
}
.userprofile{
    display: flex;
    width: 90px;
    height: 89px;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #f5f6f6;
    padding: 8px;
    box-shadow: 5px 11px 20px 0 rgba(14,14,14,.33), 6px 0 6px 0 rgba(12,11,11,.28);
}
.userprofile img{
    margin-bottom: 16px;
}
.profileid{
    position: absolute;
    color: #0b42b0;
    font-size: 22px;
    letter-spacing: 1.5px;
    font-weight: 600;
}
.profilename{
    color: white;
    font-weight: 500;
    font-size: 22px;
}
#paid{
    color: white;
    opacity: .5;
    font-size: 12px;
}
.idea{
    display: flex;
    background: #fff;
    color: #ffba00;
    width: 100%;
    max-width: 82px;
    align-items: center;
    justify-content: space-between;
    padding: 2px 8px 2px 8px;
    margin: 5px auto 0;
    border-radius: 9px;
    box-shadow: 0 7px 6px -7px rgba(41,47,77,.43);
    transition: all .25s;
    text-align: center
}
.idea:hover {
    content: "collection";
    background: #ffba00;
    display: flex;
    color: #FFF;
}
.idea:hover svg+p{
    display: none;
}
.idea:hover p::after{
    content: "collection";
    display: block;
    color: #FFF;
    position: absolute;
    top: 0;
}
.idea img{
    stroke: #ffba00;
    stroke-width: 2px;
    display: block;
    height: 16px;
    width: 16px;
}
.idea p{
    font-size: 12px;
    display: flex;
    font-weight: 500;
}
.menu{
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    margin-top: 4px;
}
.menu a{
    display: flex;
    color: black;
    text-decoration: none;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    font-size: 16px;
    color: #909399;
    padding:16px;
   
    /* justify-content: center; */
}
.menu a img,svg{
    color: #909399;
    width: 24px;
    font-weight: 900;
    stroke-width: 2px;
}
.menu a:first-child{
    border-bottom: 1px solid #909090;
}
.menu a.active{
    border-left:4px solid #0e64e6;
    color: #0e64e6;
    padding-inline: 8px;
}
.menu a.active svg{
    color: #0e64e6;
}
.menu a:last-child{
    border-block: 1px solid #909090;
}
.close{
    background-color: #0060ee;
        /* position: ; */
    text-align: right;
    border-radius: 50%;
    padding: 8px;
    color: #FFF;
    font-size: 24px;   
}

.filter{
    background: rgb(0, 0, 0,.5);
    width: 100%;
    position:fixed;
    display: flex;
    z-index: 300;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    padding: 10px;
    transition: transform .4s ease-in;
    transform: translateX(200%);
    /* display: none; */
}
.show_nav .filter  {
    display: flex;
    transform: translateX(0);
}
.profile{
    position: fixed;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12);
    overflow: hidden;
    min-width: 220px;
    width: 40%;
    height: 100vh;
    right: 0;
    top: 0;
    z-index: 3000;
    transition: transform .4s ease-out;
    transform: translateX(200%);
}
.show_nav .profile{
   transform: translateX(0);

}
.profile .logo{
    display: flex;
    gap: 10px;
}
.profile .userprofile{
    width: 60px;
    height: 59px;
}
.profile .userprofile img{
    width: 40px;
}
.profile .profileid{
    font-size: 16px;
}
.profile .userid{
    color: #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    white-space: nowrap;
}
.userid h3{
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
}
.userid p{
    opacity: .5;
    font-weight: 400;
}
.profile .profilesetting{
   list-style: none;
}
.profilesetting li{
    display: flex;
    align-items: center;
    gap: 8px;
    color: rgba(40, 47, 77, 0.8);
    /* color: #909399; */
    padding-left: 20px;
    padding-block: 16px;
}
.profile li:hover{
    background: rgba(0, 96, 238,.1);
}
.profile i{
    font-size: 18px;
}
.profile a{
    text-decoration: none;
    color: rgba(40, 47, 77, 0.8);
    font-size: 16px;
    font-weight: 500;
}
.helpcenter li{
    display: flex;
    align-items: center;
    gap: 8px;
    color: rgba(40, 47, 77, 0.8);
    /* color: #909399; */
    padding-left: 20px;
    padding-block: 12px;
}
.helpcenter hr{
    border: none;
    height: 1px;
    background: #909090;
    opacity: .25;
}